body {
    background-color: #F0F0F0;
}

.main-container {
    background-color: inherit;
    display: grid;
    grid-template-columns: auto minmax(180px, 18%);
    grid-template-rows: minmax(100px, 5%) minmax(200px, auto);
    grid-template-areas: "progress empty" "cart subtotal";
}

.progress-container {
    grid-area: progress;
}

.progress-inner-container {
    width: 400px;
    height: calc(100% - 16px);
    margin: 0 16px 0 auto;
    background-color: #FFFFFF;
    padding: 8px 8px 8px 8px;
}

.progress {
    margin: 0;
    padding: 0;
    height: calc(100% - 16px - 16px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "progress-cart progress-payment progress-confirmation";
}

.progress-cart {
    grid-area: progress-cart;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.progress-payment {
    grid-area: progress-payment;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.progress-confirmation {
    grid-area: progress-confirmation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-container {
    grid-area: cart;
}

.subtotal-container {
    grid-area: subtotal;
}

.progress {
    margin: 16px;
}

.cart {
    background-color: #FFFFFF;
    margin: 16px;
    padding: 4px 20px 32px 20px;
}

#cart-legend-price {
    text-align: right;
    font-size: 0.9em;
}

.cart hr {
    border: none;
    height: 1px;
    color: rgba(128, 128, 128, 0.3);
    background-color: rgba(128, 128, 128, 0.3);
}

.cart-item {
    display: grid;
    grid-template-columns: 24px minmax(64px, 180px) auto 64px;
    grid-template-rows: auto;
    grid-template-areas: "checkbox image main price";
}

.cart-item .cart-item-checkbox {
    grid-area: checkbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-item .cart-item-image {
    grid-area: image;
}

.cart-item .cart-item-image img {
    display: block;
    margin: auto;
    max-height: 180px;
    max-width: 180px;
    width: auto;
    height: auto;
}

.cart-item .cart-item-main {
    grid-area: main;
    line-height: 1.5;
}

.cart-item .cart-item-main .quantity {
    width: 64px;
    padding: 8px;
    border: 1px solid rgba(128, 128, 128, 0.8);
    border-radius: 6px;
    background-color: #F0F0F0;
    margin: 8px 0px 8px 0px;
}

.cart-item .cart-item-price {
    grid-area: price;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}

.subtotal {
    background-color: #FFFFFF;
    margin: 16px;
    margin-left: 0px;
    padding: 16px 20px 32px 20px;
    line-height: 1.5;
}

.subtotal button {
    background-image: linear-gradient(#f6db9d, #f0c352);
    padding: 8px;
    margin: auto;
    width: 100%;
    border: 1px solid #a88734;
    border-radius: 6px;
    margin-top: 12px;
}

.subtotal button:hover {
    cursor: pointer;
    background-image: linear-gradient(#e4c782, #e0b23d);
}

footer {
    margin: 0;
}