.confirmation-main-container {
    display: grid;
    grid-template-areas:'progress-bar' 'confirmation';
    grid-template-rows: 1fr 2fr;
    align-items:center;
    justify-content: center;
}


.confirmation-small-container{
    grid-area: progress-bar;
    background-color: #FFFFFF;
    height: auto;
    width: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
    
}

.confirmation-confirm-container{
    grid-area: confirmation;
    background-color: #FFFFFF;
    height: auto;
    width: 800px;
    margin-top: 10px;
    text-align: center;
}