footer {
    background-color: #28374a;
    padding-top: 24px;
    padding-bottom: 48px;
    margin: 0;
    font-family: Arial;
    color: white;
}

footer hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.footer-nav-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 24px;
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2;
}

.footer-nav-header {
    line-height: 2;
}

.footer-nav-content {
    line-height: 1.8;
    font-size: 90%;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}

.footer-nav-spacer {
    width: 24px;
}

.footer-logo-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}