.outer-grid-product-listings {
    width: 80%;
    margin: 4% auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 4%;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: white;
}

.inner-grid-product-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 24px;
    margin: 0;
    padding: 0;
}

.product-listing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    margin-bottom: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 2px solid gray;
    border-radius: 4px;
}

.product-listing a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.product-listing:hover {
    border: 2px solid goldenrod;
}

.product-listing img {
    display: block;
    margin: auto;
    max-height: 180px;
    max-width: 180px;
    width: auto;
    height: auto;
}