footer hr {
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(128, 128, 128, 0.5), rgba(0, 0, 0, 0));
}

footer .mini-footer-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30%;
}

footer .mini-footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    line-height: 1.8;
    margin-top: 12px;
    width: 100%;
    font-size: 70%;
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
}

footer .mini-footer-content nav {
    display: flex;
    flex: 0;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    line-height: 2;
    margin-top: 8px;
    width: 100%;
    white-space: nowrap;
}

footer .mini-footer-content nav a {
    margin-left: 10px;
    margin-right: 10px;
}

footer span {
    white-space: nowrap;
}