.product {
    margin-left: 4vw;
    margin-right: 4vw;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    padding: 20px;
    text-align: center;
    align-self: end;
  }

  .stars {
      color: orange;
      margin-bottom: 10px;
      text-align: left;
  }
  
  .stock {
    color: green;
    margin-bottom: 10px;
    text-align: left;
}

  .other-products {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vh;
    margin-top: 8vh;
}

.description {
    text-align: left;
    width: 600px;
}

h2 {
    text-align: left;
    margin-top: 6vh;
    margin-left: 4vh;
}

h3 {
    text-align: left;
}

.price {
    margin-bottom: 20px;
    text-align: left;
}

.quantity {
    margin-bottom: 10px;
    text-align: left;
}

button {
    background-image: linear-gradient(#f6db9d, #f0c352);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border-color: none;
    color: black;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 10px
}